@media screen and  (max-width: 1400px) and (min-width: $phone-size){
    .home{

        .home-background{

            .home-left-image{
                background-position: -50px;
            }

            .home-right-image{
                background-position: calc(100% + 50px);
            }
        }
    }
}

@media screen and (max-width: $tablet-size) and (min-width: 750px){
    .home{

        .home-wrapper{

            .home-content{

                .motto{
                    font-size: 48px;
                    padding: 0 15%;
                }

                .text{
                    font-size: 20px;
                }
            }
        }
    }
}