*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}

// Colors

$background-color: #F7F5F6;
$black-color: #000;
$grey-color: #ccc;
$orange-color: #E84E1B;
$white-color: white;
$background-opac: rgb(255, 255, 255, .8);
$shadow: rgb( 0, 0, 0, 0.2);

// dimensions
$desktop-size : 1600px;
$tablet-size : 1200px;
$phone-size : 900px;

@mixin flex-align {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}